# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env & secrets
.env
*.env

# Log files
*.log

# Data files
*.sqlite3
*.db
*.csv
*.h5
*.parquet